.bubble {
    border-radius: 15px;
    /* box-shadow: 3px 6px 5px #000000; */
    /* border-width: small;
    border-color: black; */
    padding-left: 8%;
    padding-right: 8%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.background{
    height:0%;
    opacity: 0;
}