.Page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    /* background-color: #1f1f1f; */
    background-color: black;
    color: #FFFFFF;
    word-break: break-word;
    height: 100vh;
    overflow-y: auto;
}

.Options {
    height:50%;
    width: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}